@use '../mixins' as *;


.nv__header {
  margin-top: 50px;
  @include container;

  @include media(laptop) {    
    margin-top: 128px;
    padding-right: 0;
    display: grid;
    grid-template-columns: 500px 1fr;
    column-gap: 90px;
  }

  .title {
    font-weight: 800;
    font-size: 36px;
    line-height: 130%;
    color: var(--dark-black);
    text-align: center;

    @include media(laptop) {
      font-size: 56px;
      text-align: left;
    }

    strong {
      color: var(--primary);
    }
  }

  .description {
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: var(--dark-gray);
    text-align: center;

    @include media(laptop) {
      margin-top: 36px;
      text-align: left;
      font-size: 18px;
    }
  }

  .wrapper-image {
    margin-top: 32px;

    @include media(laptop) {
      grid-area: 1 / 2 / 4 / 2;
    }
  }

  .cta-container {
    margin-top: 40px;
    display: flex;
    gap: 20px;
  }

  .cta-primary {
    width: 160px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: var(--primary);
    font-weight: 700;
    font-size: 14px;
    color: var(--white);
    border-radius: var(--border-radius-md);

    @include media(laptop) {
      width: 208px;
      height: 64px;
      font-size: 16px;
    }
  }

  .cta-secondary {
    width: 160px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-md);
    border: 1px solid var(--primary);
    font-weight: 700;
    font-size: 14px;
    color: var(--dark-black);

    @include media(laptop) {
      width: 208px;
      height: 64px;
      font-size: 16px;
    }
  }
}