@use '../mixins' as *;

.nv__navbar {
  margin-top: 44px;
  @include container;
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media(laptop) {
    margin-top: 56px;
    height: 56px;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 24px;
    color: var(--dark-black);

    @include media(laptop) {
      font-size: 30px;
      gap: 20px;
    }

    .wrapper-image {
      width: 44px;
      display: grid;
      place-items: center;

      @include media(laptop) {
        width: 76px;
      }
    }
  }

  .btn-menu {
    border: none;
    background-color: transparent;
    cursor: pointer;

    @include media(laptop) {
      display: none;
    }
  }

  .sidebar-mobile {
    $width: 240px;
    padding-inline: 32px;
    position: fixed;
    z-index: 999;
    width: $width;
    height: 100vh;
    right: -#{$width};
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    transition: right 0.25s;

    &[data-open='true'] {
      right: 0;
    }

    @include media(laptop) {
      position: static;
      flex-direction: row;
      width: unset;
      height: unset;
      padding-inline: 0;
      gap: 80px;
    }
  }

  .close-btn {
    display: grid;
    place-items: center;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 32px;
    right: 24px;
    cursor: pointer;

    @include media(laptop) {
      display: none;
    }
  }

  .backdrop {
    position: fixed;
    z-index: 998;
    inset: 0 0 0 0;
    background-color: rgb(0, 0, 0, 0.8);
    display: none;

    &[data-open='true'] {
      display: block;

      @include media(laptop) {
        display: none;
      }
    }
    @include media(laptop) {
      display: none;
    }
  }

  .navlink-list {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include media(laptop){
      margin-top: 0;
      flex-direction: row;
      gap: 48px;
    }
  }

  .navlink-list li{
    display: contents;
  }

  .navlink {
    font-weight: 400;
    font-size: 18px;

    @include media(laptop){
      display: grid;
      place-content: center;
    }
  }

  .call-to-action {
    margin-top: 32px;
    width: 146px;
    height: 55px;
    display: grid;
    place-items: center;
    background-color: var(--primary);
    color: var(--white);
    border-radius: var(--border-radius-md);
    font-weight: 700;
    font-size: 16px;

    @include media(laptop){
      margin-top: 0;
    }
  }
}